/* body{
    
}
.main-container{
    height: 200px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.2)
    
}
.container{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#joinus{
    font-size: 16px;
    
}
#row{
    display: flex;
    flex-direction: row;

} */


body{
    padding-left: 25%;
    padding-top: 5%;

}

.container{
    display: flex;
    flex-direction: column;
    height: 55vh;
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;
}
.p1{
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
}
.section1{
    height: 40%;
    padding: 0px;
    border-radius: 8px;
    
}
.section2{
    height: 50%;

    display: flex;
    border-radius: 8px;
}
.block1{
    width: 50%;
    padding: 20px;
    background-color:  hsl(175, 92%, 34%);
    border-bottom-left-radius: 8px;  
    
}
.block2{
    width: 50%;
    padding: 20px;
    background:  hsl(178, 79%, 41%);
    border-bottom-right-radius: 8px;
}

.head1{
    font-size: 15px;
    color: hsl(71, 73%, 54%);
    margin-left: 20px;
}
.head2{
    font-size: 12px;
    color: hsl(218, 22%, 67%);
    margin-left: 20px;
}
.p1{
    color: hsl(175, 92%, 34%);
}
.p2{
    font-size: 15px;
    font-weight: 700;
    color: white;
}
.head3{
    color: white;
}
.span{
    font-size: 12px;
    color: hsl(218, 22%, 67%);
}
.head4{
    font-size: 15px;
    color: white;
}
.head5{
    font-size: 20px;
    color: white;
}
.head6{
    font-size: 13px;
    color: white;
    padding: 0px;
}
.sign{
    background-color: hsl(71, 73%, 54%);
    border: 0px;
    width: 70%;
    height: 17%;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
.sign:hover{
    background:  hsl(218, 22%, 67%);;
}
.section2{
    flex:1;
}
